<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
    <body class="container">
        <%- include('../partials/header', {pagina:'sobre'}); %>
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Sou Fábio Gilberto, desenvolvedor de sistemas online</p>
            </div>
        </main>
        <%- include('../partials/footer');  %> 
    </body>
</html>